*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}


.container{
  width: 70%;
  margin: 0 auto;
  border: 2px solid black;
  height: 100%;
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}


header{
  background-color: rgb(17, 91, 202);
  color: white;
}

.back-white{
  background-color: white;
}

.back-grey{
  background-color: grey;
}

.back-dark-grey{
  background-color: rgb(26, 24, 24);
}

nav{
  display: inline-block;
}


ul{
  list-style: none;

}



a{
  text-decoration: none;
  color: white;
  display: inline-block;
}



ul li a:hover{
  text-decoration: underline;
}

.button{
  display: inline-block;
}

.button .small{
  height: 25px;
  /* width: 60px; */
  display: inline-block;
  background-color: white;
  color: black;
  line-height: 25px;
  border-radius: 30px;
  padding: 3px 10px;
  
}

.button .large{
  width: 250px;
  height: 40px;
  padding: 0 10px;
  background-color: black;
  line-height: 40px;
  border-radius: 20px;
}


.button .medium{
  width: 150px;
  height: 40px;
  padding: 0 10px;
  background-color: white;
  line-height: 40px;
  border-radius: 20px;
  color: black;
  margin-right: 20px;
}


h1{
  padding: 5% 0;
}

h2{
  font-size: 2rem;
  margin-bottom: 30px;
}

.xl{
  height: 900px ;
}

/* HEADER */

header .header-top{
  height: 80px;
  text-align: center;
  line-height: 80px;
}

.header-top .logo{
  float: left;
}

.header-top .button{
  float: right;
}

.header-top .logo img{
  vertical-align: middle;
}

nav ul li{
  display: inline-block;
}


nav ul li a{
  padding: 0 20px;
}

header .jumbotron{
  height: 600px;
  position: relative;
  background-image: url(../img/jumbo.png);
  background-position: center;
  background-size: cover;
}


.jumbotron .box-titolo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.jumbotron .box-titolo p{
  margin-bottom: 30px;
}

/* MAIN */

section{
  height: 600px;
}



main section aside.box-img{
  float: left;
  width: 70%;
  padding-top: 110px;

}

main section aside.description{
  padding-top: 150px;
  width: 30%;
  float: left;
  
}
main section aside.right{
  padding-left: 5%;
  width: 65%;
}

main section aside.description2{
  padding-top: 150px;
  width: 60%;
  float: left;
  
}

section .container .top{
  padding-top: 40px;
  height: 20%;
  text-align: center;
}

section .container .middle{
  height: 60%;
  text-align: center;
}


main section .container .bottom{
  height: 20%;
  text-align: center;
}

.star{
  position: relative;
  margin: 0 auto;
}

.star span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* FOOTER */


footer{
  height: 600px;
}

footer .col-left{
  width: 23%;
  float: left;
}

footer .link-utili{
  height: 75%;
  width: 100%;
  padding-top: 5%;
  background-color: red;
}

aside .language img{
  width: 15px;
}

footer .link-utili .col{
  width: 15%;
  float: left;
  background-color: blue;
  padding: 0 20px;
  border: 1px solid black;
  text-align: center;
}

footer .link-utili .col-left ul li{
  display: inline-block;
  padding-right: 20px;
}

footer .link-utili .col ul li a{
  padding-bottom: 10px;
}


footer aside.col-left{
}

footer .bottom{
  margin-top: 2px solid black;
  width: 100%;
  
}

footer .bottom .logo{
  margin-top: 20px;
  display: inline-block;
}

footer .bottom .button{
  float: right;
  margin-top: 20px;
}