*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  font-family: 'Lato', sans-serif;
}


.container{
  width: 70%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}


header{
  background-color: rgb(17, 91, 202);
  color: white;
}

.back-white{
  background-color: white;
}

.back-grey{
  background-color: rgb(245, 245, 245);
  padding: 60px;
}

.back-dark-grey{
  background-color: rgb(32, 35, 37);
}

nav{
  display: inline-block;
}


ul{
  list-style: none;

}



a{
  text-decoration: none;
  color: white;
  display: inline-block;
}



ul li a:hover{
  text-decoration: underline;
}

.button{
  display: inline-block;
}

.button .small{
  height: 25px;
  display: inline-block;
  line-height: 25px;
  border-radius: 30px;
  padding: 3px 10px;
  
}

.button .large{
  width: 250px;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border-radius: 20px;
}


.button .medium{
  width: 150px;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  border-radius: 20px;
  margin-right: 20px;
}

.button-blue{
  background-color: rgb(116, 127, 224);
  color: white;
}

.button-white{
  background-color: white;
  color: black;
}
.button-black{
background-color: rgb(22, 22, 22);
color: white;
}

h1{
  padding: 5% 0;
  font-size: 3rem;
}

h2{
  font-size: 2rem;
  margin-bottom: 30px;
}

h3{
  color: rgb(116, 127, 224)
}




/* HEADER */

header .header-top{
  height: 60px;
  text-align: center;
  line-height: 90px;
}

.header-top .logo{
  float: left;
}

.header-top .button{
  float: right;
}

.header-top .logo img{
  vertical-align: middle;
}

nav ul li{
  display: inline-block;
}


nav ul li a{
  padding: 0 20px;
}

header .jumbotron{
  height: 600px;
  background-image: url(../img/jumbo.png);
  background-position: center;
  background-size: cover;
}


.jumbotron .box-titolo{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
}


.jumbotron .box-titolo p{
  margin-bottom: 30px;
}

/* MAIN */





main section aside.box-img{
  float: left;
  width: 70%;
  padding-top: 110px;

}

main section aside.description{
  padding-top: 150px;
  width: 30%;
  float: left;
  
}
main section aside.right{
  padding-left: 5%;
  width: 65%;
}

main section aside.description2{
  padding-top: 150px;
  width: 60%;
  float: left;
  
}

section .container .top{
  padding-top: 40px;
  text-align: center;
}

section .container .middle{
  text-align: center;
}


main section .container .bottom{
  text-align: center;
}

.star{
  position: relative;
  margin: 0 auto;
}

.star span{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* FOOTER */




footer .col-left{
  width: 23%;
  float: left;
  color: white;
}

footer .link-utili{
  width: 100%;
  padding: 5% 0;
}

aside .language img{
  width: 15px;
}

footer .link-utili .col{
  width: 15%;
  float: left;
  padding: 0 20px;
  text-align: center;
}

footer .link-utili .col-left ul li{
  display: inline-block;
  padding-right: 20px;
}

footer .link-utili .col ul li a{
  padding-bottom: 10px;
}

footer .col-left h3,div{
  padding-bottom: 20px;
}

footer .bottom{
  border-top: 2px solid rgb(116, 127, 224);
  width: 100%;
  padding-bottom: 30px;
}

footer .bottom .logo{
  margin-top: 20px;
  display: inline-block;
}

footer .bottom .button{
  float: right;
  margin-top: 20px;
}

footer .col ul li:first-of-type a{
  color: rgb(116, 127, 224)
}

.fa-chevron-down{
  font-size: 10px;
}

.fa-down-long{
  padding-right: 5px;
}

